:root {
}

* {
  background-color: black;
  outline-color: white;
}
body {
  background-image: url("nature.jpg");
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 300rem;
  height: 90%;

  grid-template-areas:
    "header header header "
    "background background background "
    "education education  skills"
    "github github contact"
    "img img img ";
}

header {
  grid-area: header;
  text-align: center;
  margin: auto auto auto auto;
  font-size: 30px;
  color: wheat;
}

header h1 {
  color: wheat;
}

.background h1 {
  font-size: px;
  font-weight: bold;
  text-align: center;
  background-color: wheat;
  margin-left: 45%;
  margin-right: 45%;
}
.background h2 {
  background-color: wheat;
  margin-right: 90%;
}
.background {
  grid-area: background;
  font-size: 4;
  font-size: 24px;
}
.background p {
  grid-area: background;
  font-size: 4;
  font-size: 30px;
  color: wheat;
}

.education {
  grid-area: education;
  font-size: px;
}

.education h2 {
  background-color: wheat;
  margin-right: 88%;
}

.education p {
  font-size: 30px;
  color: wheat;
}

.contact-info {
  grid-area: contact;
  font-size: 30px;
}
.contact-info h2 {
  font-size: 30px;
  background-color: wheat;
  margin-right: 73%;
}

.contact-info ul,
a {
  font-size: 30px;
  color: wheat;
}

.skills h2 {
  grid-area: skills;
  font-size: 30px;
  background-color: wheat;
  margin-right: 88%;
}
.skills ul {
  font-size: 30px;
  margin-left: 20px;
  color: wheat;
}
.github {
  grid-area: github;
  font-size: 40px;
  color: wheat;
  margin-bottom: 2%;
}

.github h2 {
  font-size: 30px;
  background-color: wheat;
  margin-right: 88%;
  color: black;
}
.github a:hover {
  color: chartreuse;
}
.github a {
  font-size: 30px;
}

.github img {
  width: 70px;
}
.github ul li {
  font-size: 20px;
  display: inline;
}
.img {
  grid-area: img;
}
